<launch>

  <arg name="robot_id" default=""/>

  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="$(arg robot_id)/base_link"/>
    <param name="scan_destination_topic" value="scan_fused"/>
    <param name="laserscan_topics" value ="scan_frontHokuyo scan_backHokuyo" />
    <param name="angle_min" value="-3.14"/>
    <param name="angle_max" value="3.14"/>
    <param name="angle_increment" value="0.00436"/>
    <param name="scan_time" value="0.025"/>
    <param name="range_min" value="0.01"/>
    <param name="range_max" value="50.0"/>
  </node>

</launch>
